* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-black: #424549;
  --medium-black: #36393e;
  --dark-black: #282b30;
  --light-blue: #7289da;
  --warning: #e5534b;
  --light-grey: #979595;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--medium-black);
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

em-emoji-picker {
  --rgb-accent: 114, 137, 218;
  --rgb-background: 40, 43, 48;
  --rgb-input: 54, 57, 62;

  height: 50vh;
  min-height: 300px;
  max-height: 500px;
}
