.actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 70%;
    margin: 0 auto;
}

.action-container {
    width: 50%;
    min-width: 250px;
    border: 2px solid #6096B4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding: 30px 20px;
}

.action-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #93BFCF;
    outline: 0;
    margin-bottom: 20px;
    padding: 10px;
}

.action-input::placeholder {
    color: #AAAAAA;
}

.action-btn {
    padding: 8px 12px;
    background: #6096B4;
    color: #EEE9DA;
    border: 0;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .actions-container {
        flex-direction: column;
    }

    .action-container {
        margin-bottom: 40px;
    }
}
